.download-bar {
  display: flex;
  background-color: rgba(0,0,0,0.9);
  padding: 10px;
  justify-content: space-around;
}

.download-file-name {
  width: 98%;
  padding: 1%;
  overflow: hidden;
  appearance: none;
  border: none;
  color: white;
  background: transparent;
  margin: auto;
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
  font-family: monospace;
}

input::placeholder {
  color: white;
}