main {
  overflow: auto;
}

.preview-section {
  background-color: white;
  display: none;
}

.show-preview-button {
  position: absolute;
  right: 4%;
  bottom: 2%;
  border-radius: 100%;
  padding: 10px 10px;
  background-color: var(--option-button-color);
}

.download-button {
  border-radius: 5px;
  background-color: var(--option-button-color);
  padding: 2px;
}

.hide {
  display: none;
}

@media (max-width: 768px) {
  .show-preview-button.hide ~ main > .preview-section {
    display: block;
    position: absolute;
    animation: showFromLeft 0.5s forwards;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
}

@media (min-width: 768px) {
  .preview-section {
    display: block;
  }

  .preview-navbar {
    display: none;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
  }

  .show-preview-button {
    display: none;
  }
}

@keyframes showFromLeft {
  0% {
    transform: translateX(200%);
  }

  100% {
    transform: translateX(0%);
  }
}