.cv-tab {
  display: grid;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  padding: 25px 10px;
  gap: 20px;
}

.cv-tab-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.cv-tab-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1.2rem;
  font-family: monospace, sans-serif;
}

.cv-tab-button {
  padding: 5px;
  background: white;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 6px;
}

.cv-tab-button:hover {
  background-color: #f9f7f7;
  border-color: var(--option-button-color);
}