*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --option-button-color: #6704c2;
}

html, body, #root {
  height: 100%;
}

#root {
  display: grid;
  grid-template-rows: min-content 1fr;
}

img {
  display: block;
}

button {
  cursor: pointer;
  appearance: none;
  border: none;
}