*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --option-button-color: #6704c2;
  --gray-scale-0: #f5f5f5;
  --cv-radius: 4px;
  --gap-small: 5px;
}

html, body, #root {
  height: 100%;
}

#root {
  display: grid;
  grid-template-rows: min-content 1fr;
}

img {
  display: block;
}

button {
  cursor: pointer;
  appearance: none;
  border: none;
}

main {
  overflow: auto;
}

.hide {
  display: none;
}

.cv-tab {
  display: grid;
  font-weight: bold;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  padding: 25px 10px;
  gap: 20px;
}

.cv-tab-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.cv-tab-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1.2rem;
  font-family: monospace, sans-serif;
}

.download-bar {
  display: flex;
  background-color: rgba(0,0,0,0.9);
  padding: 10px;
  justify-content: space-around;
  align-items: center;
}

.download-file-name {
  width: 98%;
  padding: 1%;
  overflow: hidden;
  appearance: none;
  border: none;
  color: white;
  background: transparent;
  margin: auto;
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
  font-family: monospace;
}

input::placeholder {
  color: white;
}

.tab-container {
  overflow: auto;
  overflow-x: visible;
}

.tab-section {
  padding: 0 10px;
  max-width: 750px;
  margin: 0 auto;
  overflow: auto;
}

.personal-info-tab-section {
  display: grid;
  gap: 15px;
}

.input-section {
  display: grid;
  gap: var(--gap-small);
}

.input-section input {
  appearance: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 8px;
  background-color: var(--gray-scale-0);
}

.input-section input:focus {
  outline: none;
  border: 1px solid var(--option-button-color);
}

.name-info-section {
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.add-image-section {
  display: grid;
  grid-template-rows: min-content 1fr;
  gap: var(--gap-small);
}

.user-image {
  background-color: var(--gray-scale-0);
  height: 100%;
  min-height: 100px;
}

.preview-section {
  background-color: #eee;
  display: none;
}

.preview-navbar {
  font-weight: bold;
  display: flex;
  background-color: rgba(0,0,0,0.9);
  padding: 10px;
  justify-content: space-between;
  color: white;
  font-size: 1.1rem;
  align-items: center;
}

.cv-section {
  background-color: white;
  box-shadow: 0 2px 1px rgba(0,0,0,0.1);
  margin: 10px;
  border-radius: 0 0 var(--cv-radius) var(--cv-radius);
}

.cv-header{
  background-color: #38384b;
  color: white;
  font-family: monospace;
  padding: 8px;
  border-radius: var(--cv-radius) var(--cv-radius) 0 0;
}

/* Buttons */

.return-button {
  background-color: transparent;
  box-shadow: 0 0 1px rgba(255,255,255,0.7);
  border-radius: 4px;
}

.show-preview-button {
  position: absolute;
  right: 4%;
  bottom: 2%;
  border-radius: 100%;
  padding: 10px 10px;
  background-color: var(--option-button-color);
}

.download-button {
  border-radius: 5px;
  background-color: var(--option-button-color);
  padding: 2px;
}

.cv-tab-button {
  padding: 5px;
  background: white;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 6px;
}

.cv-tab-button:hover {
  background-color: #f9f7f7;
  border-color: var(--option-button-color);
}

@media (max-width: 1024px) {
  .show-preview-button.hide ~ main > .preview-section {
    display: grid;
    grid-template-rows: min-content 1fr;
    position: absolute;
    animation: showFromLeft 0.5s forwards;
  }
}

@media (min-width: 425px) {
  .personal-info-tab-section {
    grid-template-columns: min-content 1fr;
  }
}

@media (min-width: 1024px) {
  .preview-section {
    display: grid;
  }

  .preview-navbar {
    display: none;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .show-preview-button {
    display: none;
  }
}

@keyframes showFromLeft {
  0% {
    top: 0;
    bottom: 0;
    right: -100%;
    left: 100%;
  }

  100% {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
}
